<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="css/index.css"/>
    <script src="js/modernizr.js"></script>
</head>
<body>

    <!-- Header navigation -->
    <header>
        {{#is title "Landing" }}
            {{> navSimple }}
        {{else}}
            {{> nav }}
        {{/is}}
    </header>

    {{> body }}

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <!-- custom scripts -->
    <script src="js/module.liveAside.js"></script>
</body>
</html>