

<style>
    .temp-preview-links {

    }

    .temp-preview-links li {
        text-transform: capitalize;
    }
</style>

<h1>Available pages: </h1>

<ul class="temp-preview-links">
    <li><a href="landing.html">landing</a></li>
    <li><a href="explore.html">explore</a></li>
    <li><a href="featured.html">featured</a></li>
    <li><a href="live.html">live</a></li>
    <li><a href="category.html">category</a></li>
    <li><a href="channel.html">channel</a></li>
    <li><a href="event.html">event</a></li>
</ul>