---
title: "Channel"
description: "Channel page"
layout: default.hbs
---


{{> intro-high
    image="img/bg-channel-1.jpg"
    tagline="Coachella"
    description="The Coachella Valley Music and Arts Festival is an annual two-weekend,
    three-day music and arts festival held at the Empire Polo Club in Indio, California,
    located in the Inland Empire's Coachella Valley in the Colorado Desert."
    button="false"
    description-intro="Brought to you by..."
}}

{{> promo-section }}

{{> categories title="All Coachella Shows" }}