---
title: "Event"
description: "Event page"
layout: default.hbs
---

{{> intro-event
    image="img/bg-event-1.jpg"
    tagline="Coming Soon"
    description="Arcadia Fire"
    button=false
    description-intro="10PM – 11/03/2014"
}}

{{> promo-section }}

<div class="container">
    <div class="row">
        <div class="event-container">
            <!-- COLUMN 1 (Messages) -->
            <div class="col-md-8 chat">
                <div class="row">
                    <div class="col-md-24">
                        <h2><span class="fa fa-comment-o"></span> Chat</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-24">
                        {{> messages-list }}
                    </div>
                </div>
            </div>

            <!-- COLUMN 2 (Shop) -->
            <div class="col-md-6 col-md-offset-1 shop-container">
                <div class="row">
                    <div class="col-md-24">
                        <h2><span class="fa fa-tag"></span> Shop</h2>
                    </div>
                </div>

                {{> shop-list }}

            </div>

            <!-- COLUMN 3 (Media)-->
            <div class="col-md-8 col-md-offset-1">
                <div class="row">
                    <div class="col-md-24">
                        <h2><span class="fa fa-caret-square-o-right"></span> Media</h2>
                    </div>
                </div>

                <div class="row">
                    {{> media-list}}
                </div>
            </div>

        </div>
    </div>
</div>