---
title: "Landing"
description: "Landing"
layout: default.hbs
---

{{> intro-high
    image="img/bg-intro-1.jpg"
    tagline="This is our Tagline"
    description="This is a short and sweet description that should make people want to download and use NineSpot."
    button="true"
    description-intro="false"
}}

<!-- Carousel "doubled height" - landing page -->
<section>
    <div class="container g-mb-lg">
        <h2>Featured</h2>
        <div>
            <!-- CAROUSEL -->
            {{> carousel-doubled }}
        </div>
    </div>
</section>

<section>
    <div class="g-mb-lg">
        {{> promo-section }}
    </div>
</section>

<section>
    <div class="container g-mb-lg">
        <!-- image -->
        <div class="col-md-12 col-sm-12">
            <a href="live.html">
                <figure class="g-image g-image--response g-live g-live--white">
                    <img src="img/img-landing-1.jpg"
                             alt="View Live Events"/>
                    <span class="g-image-overlay">
                        <span class="overlay-live"></span>
                        <span class="overlay-title">Arcade Fire</span>
                        <span class="overlay-views">Views 56K</span>
                    </span>
                </figure>
            </a>
        </div>
        <!-- image annotation -->
        <div class="col-md-11 col-md-offset-1">
            <h2>View events live.</h2>
            <p>View live events like concerts, sports events, bla blaalla , from the comfort of your own couch.</p>
        </div>
    </div>
</section>

<section>
    <div class="g-mb-lg">
        <figure class="g-image g-image--response">
            <img src="img/img-landing-2.jpg"
                 alt="View Events Live"/>
        </figure>
    </div>
</section>

<section>
    <div class="container g-mb-lg">
        <div class="col-md-8 col-sm-8 col-xs-24">
            <h2>Interact seamlessly with friends, musicians, and brands.</h2>
            <p>View live events like concerts, sports events, bla blaga lalg, from the comfort of your own couch.</p>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-8 col-md-offset-1 col-sm-offset-1">
            <figure class="g-image g-image--response">
                <img src="img/img-landing-phone1.jpg"
                     alt=""/>
            </figure>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-8">
            <figure class="g-image g-image--response">
                <img src="img/img-landing-phone2.jpg"
                     alt=""/>
            </figure>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-8">
            <figure class="g-image g-image--response">
                <img src="img/img-landing-phone3.jpg"
                     alt=""/>
            </figure>
        </div>
    </div>
</section>

<section>
    <div class="g-mb-lg">
        <figure class="g-image g-image--response">
            <img src="img/img-landing-3.jpg"
                 alt="View Events Live"/>
        </figure>
    </div>
</section>

<section>
    <div class="container g-mb-lg call-to-action">
        <div class="col-lg-12 col-md-14 col-sm-14 col-xs-24">
            <h2 class="call-to-action__title">Ready to get started?</h2>
        </div>

        <div class="col-lg-10 col-md-8 col-md-offset-1 col-sm-8 col-xs-24 call-to-action__button">
                {{> button-download-ninespot }}
        </div>
    </div>
</section>