---
title: "Live"
description: "Live page"
layout: default.hbs
---

<section class="live js-live-source-container">
    <figure class="live__source g-live g-live--white g-live--video">
        <iframe width="100" height="100" src="//www.youtube.com/embed/yBZgHVXGyBg" frameborder="0" allowfullscreen></iframe>
        <div class="g-image-overlay">
            <span class="overlay-live"></span>
        </div>
    </figure>
</section>

{{> promo-section }}

<!-- Messages, Media, Shop aside container -->
<aside class="live-aside js-live-aside">
    <div class="live-aside__container">
            <!-- sections -->
            <div class="sections-toggle">
                <ul class="row nav nav-tabs nav-tabs--unstyled" role="tablist">
                    <li class="section-toggle text-center active">
                        <a class="toggle-link"
                           href="#messages"
                           role="tab"
                           data-toggle="tab">
                            <span class="fa fa-comment-o"></span></a>
                    </li>
                    <li class="section-toggle text-center">
                        <a class="toggle-link"
                           href="#shop"
                           role="tab"
                           data-toggle="tab">
                        <span class="fa fa-tag"></span></a>
                    </li>
                    <li class="section-toggle text-center">
                        <a class="toggle-link"
                           href="#media"
                           role="tab"
                           data-toggle="tab">
                        <span class="fa fa-caret-square-o-right"></span></a>
                    </li>
                    <li class="section-toggle section-toggle--share text-center">
                        <a class="toggle-link"
                           href="#share">
                        <span class="fa fa-share-alt"></span></a>
                    </li>
                </ul>
            </div>

            <div class="sections__container tab-content">
                <div class="tab-pane active" id="messages">
                    <div class="section-messages">
                        {{> messages-list }}
                    </div>
                </div>
                <div class="tab-pane" id="shop">
                    <div class="section-shop">
                        {{> shop-list }}
                    </div>
                </div>
                <div class="tab-pane" id="media">
                    <div class="section-media">
                        {{> media-list }}
                    </div>
                </div>
            </div>

            <!-- aside toggle on/off -->
            <div class="aside-toggle js-aside-toggle">
                <span class="aside-toggle-icon fa fa-angle-left"></span>
            </div>
    </div>
</aside>
