/* Video container */
$toggleTransitionTime: 300ms;

.live__source {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    object, embed, iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        z-index: 1;
    }
}

.live-aside {
    position: absolute;
    overflow: hidden;

    top: 0;
    right: 0;
    width: 40%;
    height: 50%;
    padding: 72px 0 $headerHeight + 50px;
    box-sizing: border-box;
    z-index: 5;

    @include bp(medium) {
        position: relative;
        top: auto;
        width: auto;
        height: auto !important;
        padding: 0;
    }

    .live-aside__container {
        position: relative;
        right: -89%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.75) 35%,rgba(0,0,0,0) 100%);
        transition: right $toggleTransitionTime ease-in-out;

        @include bp(medium) {
            right: auto;
            background: none;
        }
    }

    &.extended .live-aside__container {
        right: 0;
    }

    &.extended .aside-toggle-icon {
        transform: rotate(-180deg);
    }

    .sections-toggle {
        padding: 0 1.5em;

        @include bp(tiny) {
            border-bottom: 1px solid #333;
        }

        .section-toggle {
            float: left;
            width: 33.333333%;

            @include bp(small) {
                width: 25%;
            }

        }

        .section-toggle--share {
            display: none;
        }

        @include bp(small) {
            .section-toggle--share {
                display: block;
            }
        }
    }


    .aside-toggle {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        line-height: 100%;
        cursor: pointer;

        color: #dfdfdf;
        font-size: 3em;
        font-weight: 100;

        @include bp(medium) {
            display: none;
        }
    }

    .aside-toggle-icon {
        position: relative;
        top: 50%;
        padding: 0 .2em;
        margin-top: -2ex;
        transition: transform $toggleTransitionTime ease-in-out;
    }

    .toggle-link {
        display: block;
        height: 100%;
        padding: 1.5ex .5em;
        color: #949494;
        font-size: 36px;
        font-weight: 100;

        @include bp(tiny) {
            font-size: 2.6em;
            padding: .5ex .5em;
        }

    }


    .section-messages {
        font-size: .75em;
        
        @include bp(large) {
//            font-size: .9em;
        }

        @include bp(medium) {
            font-size: 1em;
        }

        @include bp(small) {
            font-size: 1em;
        }

        @include bp(tiny) {
            font-size: 1em;
        }
    }

    .toggle-link:hover {
        color: #fff;
    }

    .sections__container {
        height: 90%;
        overflow-y: scroll;
        padding: 3ex 1em 4ex 3em;

        @include bp(medium) {
            padding: 3ex 1em 4ex 2em;
            overflow: auto;
            height: auto;
        }

        @include bp(tiny) {
            padding: 2ex 1em 3ex 2em;
        }
    }

}
