.media {

    .media__list {
        overflow: hidden;
        list-style: none;
    }

    .media__item {
        float: left;
        width: 50%;
        padding-right: $grid-gutter-width / 2;
        margin-bottom: $grid-gutter-width / 2;

        img {
            width: 100%;
        }
    }

}