.shop {
    .shop__intro-title {
        font-size: 1em;

        @include bp(large) {
            font-size: 1.1em;
        }

        @include bp(medium) {
            font-size: 1.2em;
        }

        @include bp(tiny) {
            font-size: 1.4em;
        }
    }

    .shop__hot-offer {
        position: relative;

        .countdown__table-container {
            width: 100%;
            height: 100%;

            td {
                vertical-align: middle;
            }

            .countdown__content {

            }

        }
        .countdown {
            font-size: 1em;
            margin-bottom: 1ex;
            padding: 0;
            height: 100%;
            border-radius: $border-radius-base;

            background: #333333;
            text-align: center;

            @include bp(large) {
            }

            @include bp(medium) {
                font-size: 2em;
            }

            @include bp(small) {
                font-size: 2em;
            }

            @include bp(tiny) {
                font-size: 1.5em;
            }

        }

        .countdown-time {
            font-weight: 700;
            display: block;
            font-size: 1.125em;
            margin: .65ex 0;

            @include bp(large) {
                margin: 0 0;
            }
        }

    }

    .shop-action {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }

    .shop-action__countdown {
        height: 65%;
        max-height: 65%;
        margin-bottom: 5%;
    }

    .shop-action__button {
        height: 30%;
        max-height: 30%;

        button {
            height: 100%;
        }
    }

    .shop__items {
        .shop__figure {
            margin-bottom: 1.5ex;
        }

        .shop__figure:first-child {
        }
    }

    .shop__divider {
        margin: 1.5ex 0;
        border-top: 2px solid #808080;

    }

    .shop__figure img {
        width: 100%;
    }
}