.the-intro-low {
    position: relative;
}

.the-intro-low__background {
    background: url(../img/bg-intro-low-1.jpg) no-repeat center bottom;
    background-size: cover;
    height: 360px;
    max-height: 360px;

    @include bp(large) {
    }

    @include bp(medium) {
        min-height: 300px;
    }

    @include bp(small) {
        min-height: 300px;
    }

    @include bp(tiny) {
        min-height: 300px;
    }
}

.the-intro-low__content-wrapper {
}

.the-intro-low__content {
    text-align: center;
}

.the-intro-low__tagline {
    $padding: 2.4ex;

    .tagline {
        margin: 0;
        padding-top: 2.8ex;
        font-size: 64px;
    }
}

.the-intro-low__tagline--low {
    padding: 0;

    .tagline {
        padding-top: 2ex;
    }
}