.the-header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    max-height: $headerHeight;
    padding: 0 0 .8ex;
    background: rgba(27,27,27,.75);
    z-index: 10;
    line-height: 3;

    &.affix {
        position: absolute;
    }

    @include bp(medium) {
    };

    @include bp(small) {
        &.affix {
            position: fixed;
            background: rgba(27,27,27,.75);
        }

        background: none;
        line-height: 1.5;
    };

}

.the-header__logo {
    float: left;
    width: 20%;

/*
    @include bp(small) {
        float: none;
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        width: auto;
        top: 4em;
    };

    @include bp(tiny) {
        float: none;
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        width: auto;
        top: 3em;
    };
*/

    .header-logo {
        font-size: 3.125em;
        line-height: 1.3;

        &:hover a {
            text-decoration: none;
        }

        @include bp(large) {
            line-height: 1.4;
        };

        @include bp(medium) {
            line-height: 1.6;
        };

        @include bp(small) {
            margin-left: .25em;
        }

        @include bp(tiny) {
            margin-left: .25em;
        };
    }


}

.the-header__nav,
.the-header__nav-collapsed {
    float: right;
    width: 80%;
    overflow: hidden;
}

.the-header__nav {

    .header-nav {
        text-align: right;

        & .dropdown-menu {
            left: auto;
        }

        > ul {
            margin: 0;
        }
    }

    .header-nav__item {
        display: inline-block;
        list-style: none;
        margin-left: 5%;
        font-size: 22px;

        .nav-dropdown {
            cursor: pointer;
        }

        &:hover a {
            text-decoration: none;
        }

        &:first-child {
            margin-left: 0;
        }
    }

    .header-nav__link {
        position: relative;
        display: inline-block;
        top: .1ex;
    }

    @include bp(small) {
        display: none;
    };

}

.the-header__nav-collapsed {
    display: none;

    .header-nav__toggle {
        float: right;
        margin-right: .5em;
        cursor: pointer;
        font-size: 2em;
        line-height: 1;
    }


    .toggle-icon {
        position: relative;
        z-index: 100;
        padding: 1em;

        &:hover {
            background:rgba(25,25,25,.3);
        }
    }

    .header-nav {
        position: absolute;
        margin: 0;
        padding: 6ex 0 0;
        left: 0;
        right: 0;
        background: rgba(25,25,25,.85);
    }

    .header-nav__item {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 1.5em;
        border-top: 1px solid #333;

        &:first-child {
            border-top: none;
        }

        a {
            padding: 1ex 2em;
            display: block;

            &:hover {
                text-decoration: none;
                background:rgba(255,255,255, .3);
            }
        }
    }

    .header-nav__dropdown {
        margin-left: 2em;
        margin-bottom: 1em;

        .dropdown-item {
            margin-left: 0;
            padding-left: 0;
        }

        .dropdown-link {
            padding-left: 0;
            margin: 0;
        }
    }

    @include bp(small) {
        display: block;
    };
}