<!--
### CAROUSEL - Single line
-->
<article class="container explore-carousel carousel-single">
    <div class="row">
        <h2 class="explore-carousel-title">{{capitalizeEach carousel}} <span class="glyphicon glyphicon-chevron-right small"></span></h2>
        <div id="js-carousel-{{carousel}}"  class="carousel slide" data-ride="carousel">
            <!--indicators *skipped -->

            <!-- Wrapper for slides -->

                <div class="carousel-inner">
                        <div class="item active col-md-22 col-md-offset-1">
                            <div class="carousel-item col-md-8">
                                <img src="img/img-carousel-1@2x.jpg" alt=""/>
                            </div>
                            <div class="carousel-item col-md-8">
                                <img src="img/img-carousel-2@2x.jpg" alt=""/>
                            </div>
                            <div class="carousel-item col-md-8">
                                <img src="img/img-carousel-3@2x.jpg" alt=""/>
                            </div>
                        </div>

                    <div class="item col-md-22 col-md-offset-1">
                        <div class="carousel-item col-md-8">
                            <img src="img/img-carousel-2@2x.jpg" alt=""/>
                        </div>
                        <div class="carousel-item col-md-8">
                            <img src="img/img-carousel-3@2x.jpg" alt=""/>
                        </div>
                        <div class="carousel-item col-md-8">
                            <img src="img/img-carousel-1@2x.jpg" alt=""/>
                        </div>
                    </div>
                </div>


            <!-- Controls -->
            <a class="left carousel-control col-md-1" href="#js-carousel-{{carousel}}" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </a>
            <a class="right carousel-control col-md-1" href="#js-carousel-{{carousel}}" role="button" data-slide="next">
                <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
        </div>
    </div>
</article>
