<div id="js-featured-carousel"  class="carousel slide" data-ride="carousel">
    <!--indicators *skipped -->

    <!-- Wrapper for slides -->

        <div class="carousel-inner">
                <div class="item active col-md-20 col-md-offset-2">
                    <!-- row 1 -->
                    <div class="featured-carousel-item col-md-6 col-sm-12 col-xs-12">
                        <img src="img/bg-intro-1.jpg" width="100%" alt=""/>
                    </div>
                    <div class="featured-carousel-item col-md-6 col-sm-12 col-xs-12">
                        <img src="img/bg-intro-1.jpg" width="100%" alt=""/>
                    </div>
                    <div class="featured-carousel-item col-md-6 col-sm-12 col-xs-12">
                        <img src="img/bg-intro-1.jpg" width="100%" alt=""/>
                    </div>
                    <div class="featured-carousel-item col-md-6 col-sm-12 col-xs-12">
                        <img src="img/bg-intro-1.jpg" width="100%" alt=""/>
                    </div>
                    <!-- row 2 -->
                    <div class="featured-carousel-item col-md-6 col-sm-12 col-xs-12">
                        <img src="img/bg-intro-1.jpg" width="100%" alt=""/>
                    </div>
                    <div class="featured-carousel-item col-md-6 col-sm-12 col-xs-12">
                        <img src="img/bg-intro-1.jpg" width="100%" alt=""/>
                    </div>
                    <div class="featured-carousel-item col-md-6 col-sm-12 col-xs-12">
                        <img src="img/bg-intro-1.jpg" width="100%" alt=""/>
                    </div>
                    <div class="featured-carousel-item col-md-6 col-sm-12 col-xs-12">
                        <img src="img/bg-intro-1.jpg" width="100%" alt=""/>
                    </div>
                </div>

                <div class="item col-md-20 col-md-offset-2">
                    <div class="featured-carousel-item col-md-6 col-sm-12 col-xs-12">
                        <img src="img/bg-intro-1.jpg" width="100%" alt=""/>
                    </div>
                    <div class="featured-carousel-item col-md-6 col-sm-12 col-xs-12">
                        <img src="img/bg-intro-1.jpg" width="100%" alt=""/>
                    </div>
                    <div class="featured-carousel-item col-md-6 col-sm-12 col-xs-12">
                        <img src="img/bg-intro-1.jpg" width="100%" alt=""/>
                    </div>
                    <div class="featured-carousel-item col-md-6 col-sm-12 col-xs-12">
                        <img src="img/bg-intro-1.jpg" width="100%" alt=""/>
                    </div>
                    <!-- row 2 -->
                    <div class="featured-carousel-item col-md-6 col-sm-12 col-xs-12">
                        <img src="img/bg-intro-1.jpg" width="100%" alt=""/>
                    </div>

            </div>
        </div>


    <!-- Controls -->
    <a class="left carousel-control" href="#js-featured-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-circle-arrow-left"></span>
    </a>
    <a class="right carousel-control" href="#js-featured-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>

</div>
