<div class="container categories-container">
    <div class="row">
        <h2 class="text-center">{{title}}</h2>

        <div class="col-md-8 categories__item">
            <a class="categories__link" href="event.html">
                <img class="categories__figure" src="img/img-carousel-2@2x.jpg" alt=""/>
            </a>
        </div>
        <div class="col-md-8 categories__item">
            <a class="categories__link" href="event.html">
                <img class="categories__figure" src="img/img-carousel-3@2x.jpg" alt=""/>
            </a>
        </div>
        <div class="col-md-8 categories__item">
            <a class="categories__link" href="live.html">
                <img class="categories__figure" src="img/img-category-1@2x.jpg" alt=""/>
            </a>
        </div>
        <div class="col-md-8 categories__item">
            <a class="categories__link" href="live.html">
                <img class="categories__figure" src="img/img-category-1@2x.jpg" alt=""/>
            </a>
        </div>
        <div class="col-md-8 categories__item">
            <a class="categories__link" href="live.html">
                <img class="categories__figure" src="img/img-category-1@2x.jpg" alt=""/>
            </a>
        </div>
        <div class="col-md-8 categories__item">
            <a class="categories__link" href="live.html">
                <img class="categories__figure" src="img/img-category-1@2x.jpg" alt=""/>
            </a>
        </div>
    </div>
</div>

