<section class="featured-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12 gallery-item">
                <a class="gallery-link" href="channel.html"><img class="gallery-image" src="img/img-featured-1@2x.jpg" alt=""/></a>
            </div>
            <div class="col-md-12 gallery-item">
                <a class="gallery-link" href="channel.html"><img class="gallery-image" src="img/img-featured-1@2x.jpg" alt=""/></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 gallery-item">
                <a class="gallery-link" href="channel.html"><img class="gallery-image" src="img/img-featured-1@2x.jpg" alt=""/></a>
            </div>
            <div class="col-md-12 gallery-item gallery-item--live">
                <a class="gallery-link" href="live.html"><img class="gallery-image" src="img/img-featured-2@2x.jpg" alt=""/></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 gallery-item">
                <a class="gallery-link" href="channel.html"><img class="gallery-image" src="img/img-featured-1@2x.jpg" alt=""/></a>
            </div>
            <div class="col-md-12 gallery-item gallery-item--live">
                <a class="gallery-link" href="live.html"><img class="gallery-image" src="img/img-featured-2@2x.jpg" alt=""/></a>
            </div>
        </div>
    </div>
</section>