<section class="the-intro-low">
    <div class="the-intro-low__background">

        <div class="the-intro-low__content-wrapper clearfix h-the-header__offset">
            <div class="the-intro-low__content
                col-xs-20 col-xs-offset-2
                col-md-14 col-md-offset-5
                col-lg-12 col-lg-offset-6
                ">
                <div class="the-intro-low__tagline the-intro-low__tagline--low">
                    <h1 class="tagline">{{title}}</h1>
                </div>

            </div>
        </div>

    </div>
</section>