<section class="the-intro">
    <div class="the-intro__background" style="background-image: url({{image}})">

        <div class="the-intro__content-wrapper">
            <div class="container">
                <div class="the-intro__content
                    col-xs-24
                    col-sm-20 col-sm-offset-2
                    col-md-16 col-md-offset-4
                    col-lg-14 col-lg-offset-5
                    ">
                    <div class="the-intro__tagline">
                        <h1 class="tagline">{{tagline}}</h1>
                    </div>

                    {{#isnt description-intro "false" }}
                        <div class="the-intro__description-intro">
                            <p class="description"><em>{{description-intro}}</em></p>
                        </div>
                    {{/isnt}}

                    <div class="the-intro__description">
                        <p class="description">{{description}}</p>
                    </div>

                    <div class="the-intro__action">
                        {{#is button "true" }}
                            {{> button-download-ninespot}}
                        {{/is}}
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>