<section class="the-intro the-intro--event">
    <div class="the-intro__background" style="background-image: url({{image}})">

        <div class="the-intro__content-wrapper">
            <div class="container">
                <div class="the-intro__content">
                    <div class="the-intro-event__announce">
                        <p class="event-announce">Coming soon</p>
                    </div>

                    <div class="the-intro-event__title">
                        <h1 class="event-title">Arcade Fire</h1>
                    </div>

                    <div class="the-intro-event__datetime">
                        <p class="event-datetime">10PM &mdash; 11/03/2014 <a href=""><span class="fa fa-rss"></span></a></p>
                    </div>

                </div>

            </div>
        </div>

    </div>
</section>