<div class="media">
    <ul class="media__list col-md-24">
        <li class="media__item">
            <a href=""><img src="img/img-media-1.jpg" alt=""/></a>
        </li>
        <li class="media__item">
            <a href=""><img src="img/img-media-2.jpg" alt=""/></a>
        </li>
        <li class="media__item">
            <a href=""><img src="img/img-media-3.jpg" alt=""/></a>
        </li>
        <li class="media__item">
            <a href=""><img src="img/img-media-2.jpg" alt=""/></a>
        </li>
        <li class="media__item">
            <a href=""><img src="img/img-media-1.jpg" alt=""/></a>
        </li>
        <li class="media__item">
            <a href=""><img src="img/img-media-3.jpg" alt=""/></a>
        </li>
        <li class="media__item">
            <a href=""><img src="img/img-media-1.jpg" alt=""/></a>
        </li>
        <li class="media__item">
            <a href=""><img src="img/img-media-2.jpg" alt=""/></a>
        </li>
    </ul>
</div>