<ul class="messages">
    <li class="message message--live-chat">
        <div class="message-live-content col-xs-20">
            <p>You've been selected to video chat <b>LIVE</b> with Coldplay in <b>(8:47)</b></p>
        </div>
        <div class="message-live-icon col-xs-4"><span class="fa fa-video-camera"></span></div>
    </li>
    <li class="message">
        <div class="message__avatar">
            <img class="image" src="img/img-message-avatar-1@2x.png" alt="Aaron"/>
        </div>
        <div class="message__content">
            <p class="title"><strong>Aaron Johnson @a_josn</strong></p>
            <p class="content">What song puts you in a good mood? I’m digging the new Coldplay song “Majic” :) #goodvibes #ColdplayLive <a href="">pic.twitter.com/SH9DGJiH</a></p>
        </div>
    </li>
    <li class="message">
        <div class="message__avatar">
            <img class="image" src="img/img-message-avatar-2@2x.png" alt="Maria"/>
        </div>
        <div class="message__content">
            <p class="title"><strong>Maria Williams @the_realMayor</strong></p>
            <p class="content">Coldplay in 1999. Band photos don’t get better than this. #ColdplayLive pic.twitter.com/SH9DGJiH</p>
        </div>
    </li>
    <!-- repeated -->
    <li class="message">
        <div class="message__avatar">
            <img class="image" src="img/img-message-avatar-1@2x.png" alt="Aaron"/>
        </div>
        <div class="message__content">
            <p class="title"><strong>Aaron Johnson @a_josn</strong></p>
            <p class="content">What song puts you in a good mood? I’m digging the new Coldplay song “Majic” :) #goodvibes #ColdplayLive <a href="">pic.twitter.com/SH9DGJiH</a></p>
        </div>
    </li>
    <li class="message">
        <div class="message__avatar">
            <img class="image" src="img/img-message-avatar-2@2x.png" alt="Maria"/>
        </div>
        <div class="message__content">
            <p class="title"><strong>Maria Williams @the_realMayor</strong></p>
            <p class="content">Coldplay in 1999. Band photos don’t get better than this. #ColdplayLive pic.twitter.com/SH9DGJiH</p>
        </div>
    </li>
    <!-- repeated -->
    <li class="message">
        <div class="message__avatar">
            <img class="image" src="img/img-message-avatar-1@2x.png" alt="Aaron"/>
        </div>
        <div class="message__content">
            <p class="title"><strong>Aaron Johnson @a_josn</strong></p>
            <p class="content">What song puts you in a good mood? I’m digging the new Coldplay song “Majic” :) #goodvibes #ColdplayLive <a href="">pic.twitter.com/SH9DGJiH</a></p>
        </div>
    </li>
    <li class="message">
        <div class="message__avatar">
            <img class="image" src="img/img-message-avatar-2@2x.png" alt="Maria"/>
        </div>
        <div class="message__content">
            <p class="title"><strong>Maria Williams @the_realMayor</strong></p>
            <p class="content">Coldplay in 1999. Band photos don’t get better than this. #ColdplayLive pic.twitter.com/SH9DGJiH</p>
        </div>
    </li>
    <!-- repeated -->
    <li class="message">
        <div class="message__avatar">
            <img class="image" src="img/img-message-avatar-1@2x.png" alt="Aaron"/>
        </div>
        <div class="message__content">
            <p class="title"><strong>Aaron Johnson @a_josn</strong></p>
            <p class="content">What song puts you in a good mood? I’m digging the new Coldplay song “Majic” :) #goodvibes #ColdplayLive <a href="">pic.twitter.com/SH9DGJiH</a></p>
        </div>
    </li>
    <li class="message">
        <div class="message__avatar">
            <img class="image" src="img/img-message-avatar-2@2x.png" alt="Maria"/>
        </div>
        <div class="message__content">
            <p class="title"><strong>Maria Williams @the_realMayor</strong></p>
            <p class="content">Coldplay in 1999. Band photos don’t get better than this. #ColdplayLive pic.twitter.com/SH9DGJiH</p>
        </div>
    </li>
    <!-- repeated -->
</ul>
