<!--
### HEADER NAVIGATION
-->
<div class="the-header"  data-spy="affix" data-offset-top="50" data-offset-bottom="200">
    <div class="container">
        <div class="row">
            <!-- # LOGO -->
            <div class="the-header__logo">
                <div class="header-logo">
                    <a href="landing.html">ninespot</a>
                </div>
            </div>

            <!-- # Navigation controls -->
            <div class="the-header__nav">
                <nav class="header-nav">
                    <ul>
                        <li class="header-nav__item">
                            <a class="header-nav__link" href="featured.html">Featured</a>
                        </li>
                        <li class="header-nav__item">
                            <a class="dropdown-toggle nav-dropdown header-nav__link" data-toggle="dropdown">Explore</a>

                            <ul class="dropdown-menu" role="menu">
                                <li><a href="category.html">Sports</a></li>
                                <li><a href="category.html">Music</a></li>
                                <li><a href="category.html">Comedy</a></li>
                                <li><a href="category.html">Broadway</a></li>
                            </ul>
                        </li>
                        <li class="header-nav__item">
                            {{> button-download-ninespot }}
                        </li>
                    </ul>
                </nav>
            </div>

            {{> navCollapsedDropdown }}

        </div>
    </div>
</div>
