<div class="the-header__nav-collapsed">
    <div class="header-nav__toggle">
        <a class="toggle-icon fa fa-bars" data-toggle="collapse" data-target="#js-header-nav"></a>
    </div>

    <ul class="header-nav collapse" id="js-header-nav">
        <li class="header-nav__item">
            <a href="featured.html">Featured</a>
        </li>
        <li class="header-nav__item">
            <a class="dropdown-toggle" href="explore.html">Explore</a>

            <ul class="header-nav__dropdown">
                <li class="dropdown-item"><a class="dropdown-link" href="category.html">Sports</a></li>
                <li class="dropdown-item"><a class="dropdown-link" href="category.html">Music</a></li>
                <li class="dropdown-item"><a class="dropdown-link" href="category.html">Comedy</a></li>
                <li class="dropdown-item"><a class="dropdown-link" href="category.html">Broadway</a></li>
            </ul>
        </li>
        <li class="header-nav__item">
            <a class="btn btn-success g-uppercase" href="">Download Ninespot</a>
        </li>
    </ul>
</div>
