<!--
### HEADER NAVIGATION (without dropdown)
-->
<div class="the-header">
    <div class="container">
        <div class="row">
            <!-- # LOGO -->
            <div class="the-header__logo">
                <div class="header-logo">
                    <a href="landing.html">ninespot</a>
                </div>
            </div>

            <!-- # Navigation controls -->
            <div class="the-header__nav">
                <nav class="header-nav">
                    <ul>
                        <li class="header-nav__item">
                            <a href="featured.html">Featured</a>
                        </li>
                        <li class="header-nav__item">
                            <a class="dropdown-toggle" href="explore.html">Explore</a>
                        </li>
                        <li class="header-nav__item">
                            <a class="btn btn-success g-uppercase" href="">Download Ninespot</a>
                        </li>
                    </ul>
                </nav>
            </div>

            {{> navCollapsedDropdown }}

        </div>
    </div>
</div>
