<section class="promo-section">
    <div class="promo-section__bounds">
        <div class="container">
            <div class="row">
                <div class="block-center">
                    <h2 class="promo-section-heading">
                        <span class="promo-section-title">Want to see more events & interact with your favorite artists?</span>
                        {{> button-download-ninespot }}</h2>
                </div>
            </div>
        </div>
    </div>
</section>