<div class="shop">
    <div class="row shop__intro">
        <div class="col-md-24">
            <p class="shop__intro-title"><strong>Special LIVE Offer!</strong> Buy Ghost Stories nowfor<strong>$12.99</strong> and get an exclusive bonus track!</p>
        </div>
    </div>

    <div class="row shop__hot-offer">
        <div class="col-md-12 col-xs-12 shop-offer">
            <div class="shop__figure">
                <a href="">
                    <img src="img/img-shop-1.jpg" alt="hot offer buy now!!!!"/>
                </a>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 shop-action">
            <div class="shop-action__countdown">
                <div class="countdown g-uppercase">
                    <!-- simplier vertical alignment with table container -->
                    <table class="countdown__table-container">
                        <tr>
                            <td><span class="countdown__content"> Only<span class="countdown-time">38:00</span> left </span></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="shop-action__button">
                <button class="btn btn-success btn-block">Buy Now</button>
            </div>
        </div>
    </div>

    <div class="col-md-24 shop__divider"></div>

    <div class="row shop__items">
        <div class="shop__figure col-md-24 col-xs-12">
            <a href=""><img src="img/img-shop-item-1.jpg" alt=""/></a>
        </div>
        <div class="shop__figure col-md-24 col-xs-12">
            <a href=""><img src="img/img-shop-item-1.jpg" alt=""/></a>
        </div>
    </div>
</div>
